<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<% include templates/header.ejs %>
<div id=contents>
    <form action="signup" method="POST">
        <div class="container">
            <label><b>Email</b></label><br>
            <input class="input-txt" type="text" placeholder="Enter Email" name="email" required><br>

            <label><b>Password</b></label><br>
            <input class="input-txt" type="password" placeholder="Enter Password" name="psw" required><br>

            <label><b>Repeat Password</b></label><br>
            <input class="input-txt" type="password" placeholder="Repeat Password" name="psw2" required><br>
            <input type="checkbox" checked="checked" name="remember"> Remember me

            <div class="clearfix" id="signupb1">
                <button type="submit" class="signupbtn">Sign Up</button>
                <button id="ghbutton" type="button" onclick="location.href='/signup';">Sign up with GitHub</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>