body, html {
  height: 99%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#chat-container{
  padding: 1%;
  height: 99%;
  overflow: hidden;
}


#left-window-container{
  border: 1px solid grey;
  height: 98%;
  width: 82%;
  float: left;
  border: 2px solid black;
  border-radius: 8px;
  background: linear-gradient(135deg, #f1f5f8, #00B09f);
  opacity: 0.9;
}

#channel-container{
  background: linear-gradient(135deg, #f1f5f8, #00B09f);
  border-color: black;
  border-style: solid;
  border-radius: 8px;
  border-width:  1px 1px 1px 0px;
  height: 98%;
  width: 17%;
  float: left;
  overflow: auto;
}

#chat-window-container{
  vertical-align: bottom;
  padding: 2%;
  height: 85%;
  overflow: auto;
}

#form-container{
  border-top: 1px solid black;
  height: 6%;
  padding: 1%;
  overflow: none;
}


/*For channel list styling of channel*/
.channel{
  border-bottom: 1px solid grey;
  font-family: monospace;
  font-weight: bold;
  padding: 4%;
  text-align: center;
}

.channel:hover{
  background-color: #d3d3d3;
}

#channel-container .active{
  background-color: #d3d3d3;
}

.start-message{
  text-align: center;
}

.total-message{
  clear:both;
}

.currentUser{
  float: right;
  right: 0;
}

.currentUser .message{
  color: #1e1e1e;
 
}

.currentUser .message-from-user{
  display: none;
}
