body, html {
  height: 99%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#channel-container{
  background-color: #eee;
  background-clip: content-box;
  border-left: 1px solid #ddd;
  padding-left: 0;
  height: 100%;
  overflow: auto;
}

#totalBody{
  padding: 0;
}

#chat-window-container{
  vertical-align: bottom;
  height: 100%;
  overflow: auto;
}

#toChannel{
  float: right;
}

/*For channel list styling of channel*/
.channel{
  font-family: monospace;
  font-weight: bold;
  padding: 4%;
  text-align: center;
}

.channel:hover{
  background-color: #d3d3d3;
}

#channel-container .active{
  background-color: #d3d3d3;
}

.start-message{
  text-align: center;
}

.total-message{
  padding: 0;
  width: 40%;
  word-break: break-all;
  clear:both;
}

.currentUser{
  float: right;
  right: 0;
}

.currentUser p{
  float: right;
}

.currentUser .message{
  color: blue;
}

.currentUser .message-from-user{
  display: none;
}
