body, html {
  height: 99%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#chat-container{
  padding: 1%;
  height: 98%;
  overflow: hidden;
}


#left-window-container{
  border: 1px dotted black;
  height: 98%;
  width: 82%;
  float: left;
}

#channel-container{
  border-color: black;
  border-style: dotted;
  border-width:  1px 1px 1px 0px;
  height: 98%;
  width: 17%;
  float: left;
  overflow: auto;
}

#chat-window-container{
  vertical-align: bottom;
  height: 85%;
  overflow: auto;
}

#form-container{
  border-top: 1px dotted black;
  height: 6%;
  padding: 1%;
  overflow: none;
}


/*For channel list styling of channel*/
.channel{
  border-bottom: 1px dotted grey;
  font-family: monospace;
  font-weight: bold;
  padding: 4%;
  text-align: center;
}

.channel:hover{
  background-color: #d3d3d3;
}

#channel-container .active{
  background-color: #d3d3d3;
}

.start-message{
  text-align: center;
}

.total-message{
  clear:both;
}

.currentUser{
  float: right;
  right: 0;
}

.currentUser .message{
  color: blue;
}

.currentUser .message-from-user{
  display: none;
}
