<div id="menu">
    <button class="menubutton" type="button" onclick="location.href='/';">Home</button>
    <button class="menubutton" type="button" onclick="location.href='/login';">Login</button>
    <button class="menubutton" type="button" onclick="location.href='/signup';">Sign Up</button>
</div>