<div id="main-content">
<div id="chat-container">
  <div id="left-window-container">
    <div id="chat-window-container">
    </div>
    <div id="form-container">
      <form id="send-Message">
      </br>
        <input style="width: 60%;" type="text" id="messageBox" placeholder="Write Message Here"/>&nbsp&nbsp
        <input type="submit" value="Send" class="send-button"/></br></br>
        <a id="toChannel" href="/channels" class="btn btn-default btn pull-left">Create A New Channel</a>
      </form>
    </div>
  </div>
  <div id="channel-container">
  </div>
</div>
</div>

<script> var currentUserID = <%- JSON.stringify(userID) %></script>
<script src="https://www.gstatic.com/firebasejs/3.7.2/firebase.js"></script>
<script src="/js/firebaseInitialization.js"></script>
<script src="/js/chat.js"></script>
