<div id="leftside">
        <ul class="nav" id="side-menu">
            <li>
                <a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="/classes"><i class="fa fa-book fa-fw"></i> Classes</a>
            </li>
            <li>
                <a href="/groups"><i class="fa fa-group fa-fw"></i> Groups</a>
            </li>
            <li>
                <a href="/chat"><i class="fa fa-group fa-fw"></i> Chat</a>
            </li>
        </ul>
</div>
    <!-- /.sidebar-collapse -->
