<nav id="page-header" class="navbar navbar-default navbar-static-top bg-gradient-9" role="navigation" style="margin-bottom: 0">
  <div id="logo" class="navbar-header">
      <div id="header-logo" >
          <a class="navbar-brand" href="/dashboard" style="color: white;"><i class="fa fa-github-alt fa-fw"></i>Group 3 Project</a>
      </div>
  </div>
  <ul class="nav navbar-top-links navbar-right">
  <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-alerts">
      </ul>
      <!-- /.dropdown-alerts -->
  </li>
  <!-- /.dropdown -->
  <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
          <li><a href="/profile"><i class="fa fa-user fa-fw"></i> User Profile</a>  </li>
          <li class="divider"></li>
          <li><a href="/login"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
      </ul>
      <!-- /.dropdown-user -->
  </li>
  <!-- /.dropdown -->
</ul>
</nav>
